/*I want my images to take up the full screen, so I removed all margin and padding and set width to 100% and height to 100vh*/
body, #slider, .wrap, .slide-content{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow-x: hidden;
}
/*Position relative will ensure that the images do not follow me as I scroll down the page*/
.wrap{position:relative}

.slide{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
}
/*I used css to add the images to the background of the div with class name slide*/
.slide1{background-image: url('https://source.unsplash.com/1600x900/?nature,water')}
.slide2{background-image: url('https://source.unsplash.com/random')}
.slide3{background-image: url('https://source.unsplash.com/1600x900/?nature,tree')}
.slide4{background-image: url('https://source.unsplash.com/1600x900/?mountain')}
.slide5{background-image: url('https://source.unsplash.com/1600x900/?nature,water')}
.slide6{background-image: url('https://source.unsplash.com/1600x900/?nature,insect')}
/*Bellow, I am simply choosing how I would like to display my images and text in the slide-content div*/
.slide-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center
}
/*Here I'm just styling the text and the left and right arrow, which I'll create using css border so that is more visable*/
.slide-content span{
    font-size:5rem;
    color:white;
}
/*This is where I minipulate the border properties to liik like an arrow*/
.arrow{
    cursor:pointer;
    position:absolute;
    top:50%;
    margin-top:-35px;
    width:0;
    height:0;
    border-style:solid;
}
#left{
    border-width:30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left:0;
    margin-left:30px;
}
#right{
    border-width:30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    right:0;
    margin-right:60px;
}


/*The way I've written this code does not seem very efficient, but I feel that it greaty improved my css 
knowledge. In future I will learn to create image sliders using more efficient methods*/